In [384]:
import foodmood_lists as FM
import functools
import pandas
from pandas.io import sql
import sqlalchemy
import pymysql
import numpy

In [325]:
recipe_data = pandas.read_csv("RAW_recipes.csv")

In [326]:
def listify(tag_string):
    return [tag.strip("'") for tag in tag_string.strip('][').split(", ")]

In [327]:
tag_lists = recipe_data['tags'].apply(listify)
unique_tags = functools.reduce(lambda a,b: set(a).union(set(b)), tag_lists.to_list())

In [338]:
recipe_data.ingredients = recipe_data.ingredients.apply(listify)
recipe_data.tags = recipe_data.tags.apply(listify)
recipe_data.nutrition = recipe_data.nutrition.apply(listify)
recipe_data.steps = recipe_data.steps.apply(listify)

In [339]:
units = ['tsp', 'tbsp', 'oz', 'cup', 'pint', 'quart', 'gallon', 'mL', 'L', 'dL', 'lb', 'mg', 'g', 'kg']
rand_units = [units[i%14] for i in range(2103719)]

In [340]:
ingredient_table = recipe_data[['id', 'ingredients']].explode('ingredients')
ingredient_table['quantity'] = numpy.random.randint(1,10, ingredient_table.shape[0])
ingredient_table['units'] = rand_units
ingredient_table.columns = ['recipeId', 'foodName', 'quantity', 'units']

In [341]:
ingredient_table

        recipeId           foodName  quantity   units
0         137739      winter squash         9     tsp
0         137739  mexican seasoning         3    tbsp
0         137739        mixed spice         2      oz
0         137739              honey         1     cup
0         137739             butter         7    pint
...          ...                ...       ...     ...
231636    298509               eggs         4    pint
231636    298509              flour         4   quart
231636    298509    cream of tartar         8  gallon
231636    298509        baking soda         8      mL
231636    298509    vanilla extract         2       L

[2103719 rows x 4 columns]

In [342]:
tag_table = recipe_data[['id', 'tags']].explode('tags')
tag_table = tag_table[~tag_table.tags.isin(FM.labels) & (~tag_table.tags.isin(FM.cuisines))]
tag_table.columns = ['recipeId', 'tags']

In [343]:
tag_table

        recipeId                  tags
0         137739    60-minutes-or-less
0         137739            vegetables
0         137739                  easy
0         137739                  fall
0         137739            vegetarian
...          ...                   ...
231636    298509              desserts
231636    298509          kid-friendly
231636    298509  cookies-and-brownies
231636    298509               dietary
231636    298509                 sweet

[2386042 rows x 2 columns]

In [344]:
recipe_table = recipe_data[['id', 'name', 'minutes', 'n_steps', 'tags', 'n_ingredients', 'contributor_id']]
recipe_table.columns = ['recipeId', 'recipeName', 'cookTime', 'difficulty', 'cuisine', 'servings', 'authorName']

In [345]:
def find_tags(tags, tag_set):
    tagged = list(set(tags).intersection(tag_set))
    if tagged:
        return tagged[-1]
    else:
        return None

In [346]:
recipe_table.cuisine = recipe_table.cuisine.apply(find_tags, args=(FM.cuisines,))

In [347]:
names = pandas.read_csv('StateNames.csv').Name

In [348]:
def id_toName(authorID):
    return names[authorID%names.size]

In [349]:
recipe_table.authorName = recipe_table.authorName.apply(id_toName)

In [378]:
recipe_table['instructionsLink'] = "https://www.food.com/recipe/" + recipe_table.recipeName.str.replace('\s+', '-').str.cat(recipe_table.recipeId.astype('str'), '-')

In [450]:
recipe_table

,recipeId,recipeName,cookTime,difficulty,cuisine,servings,authorName,instructionsLink
0,137739,arriba baked winter squash mexican style,55,11,mexican,7,Deanna,https://www.food.com/recipe/arriba-baked-winte...
1,31490,a bit different breakfast pizza,30,9,american,6,Brody,https://www.food.com/recipe/a-bit-different-br...
2,112140,all in the kitchen chili,130,6,None,13,Mya,https://www.food.com/recipe/all-in-the-kitchen...
3,59389,alouette potatoes,45,11,None,11,Marissa,https://www.food.com/recipe/alouette-potatoes-...
4,44061,amish tomato ketchup for canning,190,5,american,8,Hettie,https://www.food.com/recipe/amish-tomato-ketch...
...,...,...,...,...,...,...,...,...
231632,486161,zydeco soup,60,7,creole,22,Casey,https://www.food.com/recipe/zydeco-soup-486161
231633,493372,zydeco spice mix,5,1,None,13,Leo,https://www.food.com/recipe/zydeco-spice-mix-4...
231634,308080,zydeco ya ya deviled eggs,40,7,None,8,Lora,https://www.food.com/recipe/zydeco-ya-ya-devil...
231635,298512,cookies by design cookies on a stick,29,9,None,10,Indira,https://www.food.com/recipe/cookies-by-design-...
231636,298509,cookies by design sugar shortbread cookies,20,5,comfort-food,7,Indira,https://www.food.com/recipe/cookies-by-design-...

In [466]:
from google_images_search import GoogleImagesSearch
foodImage = GoogleImagesSearch('AIzaSyD2rcfk46g_ZfpPH1YV59snFCW2T0OOeI8', '017970115376021606908:q3caxr88ame')

In [467]:
def find_image(recipe_name):

    _searchParams = {
        'q': recipe_name,
        'num': 1,
        'fileType': 'jpg|png'
    }
    foodImage.search(search_params=_searchParams)
    if foodImage.results():
        return foodImage.results()[0].url
    else:
        return None

In [468]:
recipe_test = recipe_table.head(5)
recipe_test['imageUrl'] = recipe_test.recipeName.convert_dtypes().str.replace('\s+', ' ').apply(find_image)

0 1
({'q': 'arriba baked winter squash mexican style', 'num': 1, 'fileType': 'jpg|png', 'start': 1}, False, None, None, False)
0 1
({'q': 'a bit different breakfast pizza', 'num': 1, 'fileType': 'jpg|png', 'start': 1}, False, None, None, False)
0 1
({'q': 'all in the kitchen chili', 'num': 1, 'fileType': 'jpg|png', 'start': 1}, False, None, None, False)
0 1
({'q': 'alouette potatoes', 'num': 1, 'fileType': 'jpg|png', 'start': 1}, False, None, None, False)
0 1
({'q': 'amish tomato ketchup for canning', 'num': 1, 'fileType': 'jpg|png', 'start': 1}, False, None, None, False)

In [469]:
recipe_test

,recipeId,recipeName,cookTime,difficulty,cuisine,servings,authorName,instructionsLink,imageUrl
0,137739,arriba baked winter squash mexican style,55,11,mexican,7,Deanna,https://www.food.com/recipe/arriba-baked-winte...,https://img.sndimg.com/food/image/upload/c_thu...
1,31490,a bit different breakfast pizza,30,9,american,6,Brody,https://www.food.com/recipe/a-bit-different-br...,https://img.sndimg.com/food/image/upload/c_thu...
2,112140,all in the kitchen chili,130,6,None,13,Mya,https://www.food.com/recipe/all-in-the-kitchen...,https://d1doqjmisr497k.cloudfront.net/-/media/...
3,59389,alouette potatoes,45,11,None,11,Marissa,https://www.food.com/recipe/alouette-potatoes-...,https://www.fruithillfarm.com/media/catalog/pr...
4,44061,amish tomato ketchup for canning,190,5,american,8,Hettie,https://www.food.com/recipe/amish-tomato-ketch...,https://growagoodlife.com/wp-content/uploads/2...

In [471]:
mySql_config = {
    "pool_size": 5,
    "max_overflow": 2,
    "pool_timeout": 30,
    "pool_recycle": 1800,
}
mySql_engine = sqlalchemy.create_engine(
                sqlalchemy.engine.url.URL(
                    drivername="mysql+pymysql",
                    username='root',
                    password='cs348',
                    host='127.0.0.1',
                    port='3306',
                    database='db_1',
                ),
                **mySql_config
            )
mySql_connection = mySql_engine.connect()

In [ ]:
from sqlalchemy.types import Integer
from sqlalchemy.types import String
try:
    recipe_frame = recipe_table.to_sql('recipes', mySql_connection, if_exists='replace', 
                        index=False, chunksize=50, 
                        dtype={'recipeId': Integer(), 'recipeName': String(), 'cookTime': Integer(), 
                                'difficulty': Integer(), 'cuisine': String(), 'servings': Integer(),      
                                'authorName': String()})

    ingredient_frame = ingredient_table.to_sql('ingredients', mySql_connection, if_exists='replace',
                        index=False, chunksize=50,
                        dtype={'recipeId': Integer(), 'foodName': String(), 'qantity': Integer(), 
                                'units': String()})

    tag_frame = tag_table.to_sql('tags', mySql_connection, if_exists='replace',
                        index=False, chunksize=50,
                        dtype={'recipeId': String(), 'tags': String()})

except ValueError as vx:
    print(vx)

except Exception as ex:   
    print(ex)

else:
    print("Tables created successfully");   

finally:
    mySql_Connection.close()